div{
   
    padding:20px;
}

.video-con{
    display:flex;
    
}
.videoDetails-con{
    width:65%; 
   
}

.videoList-con{
   width:35%; 
   
}

.ui .segment{
    margin:0;
}

.video-item{
    display: flex;
    align-items: center;
}

.video-Item.item img{
    max-width:
}