 .video-con{
    display:flex;  
}

.videoDetails-con{
    width:65%;    
}

.videoList-con{
   width:35%; 
}

.ui .segment{
    margin:0;
}

.video-item{
    display: flex !important;
    align-items: center;
    cursor:pointer;
}

.video-item.item img{
    max-width: 180px;

}